<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody>
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>   
    <tr class="vacancy"> 
     <td class="title"><a href="https://dnepr.hh.ua/vacancy/33818450?query=java%20Odessa">Middle Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://dnepr.hh.ua/vacancy/33983068?query=java%20Odessa">Middle+ / Senior Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП АГЕНЦІЯ МОБІЛЬНОЇ РЕКЛАМИ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://dnepr.hh.ua/vacancy/33834485?query=java%20Odessa">Senior / Middle Android Разработчик</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">VicMan</td> 
     <td class="salary">2 000-2 500 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://dnepr.hh.ua/vacancy/33919358?query=java%20Odessa">Middle C++ Developer (GameDev)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Nordcurrent Odessa</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://dnepr.hh.ua/vacancy/33832787?query=java%20Odessa">Middle Web Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО СВИТЕКО</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://dnepr.hh.ua/vacancy/33613243?query=java%20Odessa">Javascript (ES6) Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП Devsteam.mobi</td> 
     <td class="salary">11 200-28 000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://dnepr.hh.ua/vacancy/33818454?query=java%20Odessa">DevOps engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://dnepr.hh.ua/vacancy/33694884?query=java%20Odessa">Senior IT Recruiter</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">EPAM Systems, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody>
  </table>  
 </body>
</html>