<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                                                                                                                                                                                                                 
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053144">Java-разработчик</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053732">Разработчик Java/TeamLead Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054053">Java-разработчик</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">Sportmaster Lab</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053650">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">СберЛогистика</td> 
     <td class="salary">От 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054159">Java разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">МТС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053517">Java разработчик</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000051352">Java-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Litota Labs</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053786">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">YLab</td> 
     <td class="salary">От 100 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053957">Программист Java</a></td> 
     <td class="city">Тюмень</td> 
     <td class="companyName">Строительный Двор</td> 
     <td class="salary">От 30 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000047619">Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ITigris</td> 
     <td class="salary">От 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053724">Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Playgendary</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034935">Middle Java-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">CSSSR</td> 
     <td class="salary">От 70 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054122">Team Lead Java developer</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053791">java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Spice IT Recruitment</td> 
     <td class="salary">До 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054156">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">CordisON</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053637">Java-разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ИВС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000049925">Team Lead Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">RBS Payments</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053910">Java developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Дневник.ру</td> 
     <td class="salary">От 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053361">Senior JAVA Developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053505">Senior Java разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Utair Digital</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032666">Разработчик Java</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Группа компаний «Экстрим»</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053271">Java Backend Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Деловая среда от Сбербанка</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054141">Java-разработчик на «Единый клиент»</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">HFLabs</td> 
     <td class="salary">От 200 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050012">Java разработчик (middle/senior)</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">BSS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000048842">Senior Java/Kotlin Developer</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Spectrum</td> 
     <td class="salary">От 100 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053144">Java-разработчик</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053732">Разработчик Java/TeamLead Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054053">Java-разработчик</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">Sportmaster Lab</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053650">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">СберЛогистика</td> 
     <td class="salary">От 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054159">Java разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">МТС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053517">Java разработчик</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053786">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">YLab</td> 
     <td class="salary">От 100 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000051352">Java-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Litota Labs</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053957">Программист Java</a></td> 
     <td class="city">Тюмень</td> 
     <td class="companyName">Строительный Двор</td> 
     <td class="salary">От 30 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000047619">Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ITigris</td> 
     <td class="salary">От 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053724">Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Playgendary</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034935">Middle Java-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">CSSSR</td> 
     <td class="salary">От 70 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054122">Team Lead Java developer</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053791">java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Spice IT Recruitment</td> 
     <td class="salary">До 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054156">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">CordisON</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053637">Java-разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ИВС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053910">Java developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Дневник.ру</td> 
     <td class="salary">От 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000049925">Team Lead Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">RBS Payments</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053361">Senior JAVA Developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053505">Senior Java разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Utair Digital</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032666">Разработчик Java</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Группа компаний «Экстрим»</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054141">Java-разработчик на «Единый клиент»</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">HFLabs</td> 
     <td class="salary">От 200 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053271">Java Backend Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Деловая среда от Сбербанка</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050012">Java разработчик (middle/senior)</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">BSS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000048842">Senior Java/Kotlin Developer</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Spectrum</td> 
     <td class="salary">От 100 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053147">Java-разработчик на проект Cбербанк Бизнес Онлайн</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054068">Java - разработчик</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053146">Senior Java Developer (AI/NLP систем)</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053998">Java Software Engineer (Track &amp; Trace)</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">MERA</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000051577">Java-разработчик (Москва)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">HFLabs</td> 
     <td class="salary">От 240 000 до 280 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000052947">Java-разработчик (внешние проекты)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Litota Labs</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000047585">Java разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053826">Ведущий программист Java</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">Bobday Company</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054077">Senior Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000042726">Разработчик Java/Kotlin</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">СофтТелематика</td> 
     <td class="salary">От 150 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053577">Разработчик Java/Kotlin</a></td> 
     <td class="city">Иннополис</td> 
     <td class="companyName">KazanExpress</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053747">Java (Groovy) разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">TEAM Force</td> 
     <td class="salary">От 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000051154">Разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ИнЭкс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053688">Senior Java Developer</a></td> 
     <td class="city">Алматы</td> 
     <td class="companyName">ICORE-Integration</td> 
     <td class="salary">От 1 400 до 3 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000048249">Старший программист серверной части/Senior server side developer (Java)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Banzai.Games</td> 
     <td class="salary">От 200 000 до 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053387">Java разработчик (RPA)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053946">Senior Java Web Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054224">Senior Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Omega Bank</td> 
     <td class="salary">От 3 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053506">Senior / Middle backend developer / Java</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Uventex labs</td> 
     <td class="salary">От 2 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028892">Java разработка на серверную часть соц. сети.</a></td> 
     <td class="city"></td> 
     <td class="companyName">Vero Labs Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053579">Преподаватель курса «JAVA разработчик»</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Nordic IT School</td> 
     <td class="salary">До 40 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053881">Java backend разработчик (удаленно или в офисе)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">SLEKI</td> 
     <td class="salary">От 150 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000003228">Android Developer (Java/Kotlin)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">SPB TV</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053794">Senior Full Stack Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053796">Ведущий эксперт, управление разработкой / Team Lead (NSK)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">ВымпелКом (Билайн)</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054084">Главный инженер по разработке (Java/Groovy)</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053941">Android разработчик</a></td> 
     <td class="city">Симферополь</td> 
     <td class="companyName">Ideas World</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053143">Fullstack-разработчик</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050949">FullStack Java Developer (Bioinformatics / BigData / ML) лекарство от рака.</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Новые Программные Системы</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053925">FullStack разработчик web-приложений и сервисов на Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МультиКарта</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000051836">Senior Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Gradient</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000052512">Fullstack разработчик</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary">От 127 000 до 190 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054127">Android-разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">ИТ-ЛИНК</td> 
     <td class="salary">До 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054089">React Native разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Heedbook</td> 
     <td class="salary">До 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054043">Backend Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">МегаФон</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000047832">Android-разработчик</a></td> 
     <td class="city">Курган</td> 
     <td class="companyName">ИТ-ЛИНК</td> 
     <td class="salary">До 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053702">Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053867">Senior Automation Tester</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">T-Systems RUS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053870">Android-разработчик</a></td> 
     <td class="city">Иннополис</td> 
     <td class="companyName">KazanExpress</td> 
     <td class="salary">От 60 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053734">Data Engineer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Playgendary</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054180">Backend разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Яндекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053915">Java developer (middle/senior)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">LAVAL</td> 
     <td class="salary">От 100 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053719">Full-Stack Developer (Autobahn Platform)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Deutsche Bank</td> 
     <td class="salary">От 220 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000049631">Android-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ЭЛКОМ+</td> 
     <td class="salary">От 80 000 до 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000047966">Android developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">iGooods.ru</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033087">Автотестировщик ПО / Software Autotester</a></td> 
     <td class="city">Барнаул</td> 
     <td class="companyName">Libertex Group</td> 
     <td class="salary">От 50 000 до 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031337">Программист Python</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Строительный Двор</td> 
     <td class="salary">От 100 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000047768">QA инженер автоматизатор для мобильного приложения/ Automation QA - appium</a></td> 
     <td class="city"></td> 
     <td class="companyName">Maxiru</td> 
     <td class="salary">От 90 000 до 121 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053884">QA Automation Engineer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">BIA-Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053563">Android Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">IQ Oрtiоn Software</td> 
     <td class="salary">От 170 000 до 270 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053360">Разработчик Hyperion Financial Management (HFM)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ПАО «Ростелеком», Филиал ОЦО</td> 
     <td class="salary">От 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054111">Solution Architect</a></td> 
     <td class="city"></td> 
     <td class="companyName">Omega Bank</td> 
     <td class="salary">От 5 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053973">Программист 1С</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Город 77</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054223">QA Automation Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">inDriver</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043823">Android-разработчик</a></td> 
     <td class="city">Магнитогорск</td> 
     <td class="companyName">Amigoweb</td> 
     <td class="salary">От 40 000 до 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053815">Android Developer</a></td> 
     <td class="city">Мюнхен</td> 
     <td class="companyName">Mylivn</td> 
     <td class="salary">От 60 000 до 80 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053475">React Native-разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Ньютон Технологии</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053917">Android Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Real Time Technologies</td> 
     <td class="salary">От 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053873">Android Developer</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">BS lab</td> 
     <td class="salary">От 1 200 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054063">Руководитель проекта разработки новой платформы (Team Lead)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Euromobile</td> 
     <td class="salary">От 150 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053763">Android разработчик (офис, Черногория)</a></td> 
     <td class="city">Будва</td> 
     <td class="companyName">Alar Studios</td> 
     <td class="salary">От 2 000 до 2 500 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000052749">Разработчик Oracle</a></td> 
     <td class="city">Владивосток</td> 
     <td class="companyName">МегаФон</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053549">Senior Blockchain Architect</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053866">PHP (Kohana, Laravel) разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Toqomo</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053424">Android разработчик (Kotlin)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ПрофСофт</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027502">Middle Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">tvzavr</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045429">Android-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Surf</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045266">Backend Developer (Middle/Senior)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Xsolla</td> 
     <td class="salary">От 60 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053773">PHP Ведущий разработчик / PHP Senior Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Михайлов и Партнёры</td> 
     <td class="salary">От 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053548">Frontend-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ШТОРМ Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000052609">Разработчик бэкенда в Bootcamp</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Яндекс</td> 
     <td class="salary">От 100 000 до 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053694">Senior DevOps Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ГК «ОБОЗ»</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043669">Data scientist</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">PLARIUM</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054005">Тестировщик (QA Engineer)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Ticketland.ru</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000047785">Преподаватель курса «Android разработка на Kotlin»</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Nordic IT School</td> 
     <td class="salary">До 40 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050381">Аndroid-разработчик (Middle+/Senior, удаленно)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Alpaca Dev Studio</td> 
     <td class="salary">От 120 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053521">Backend-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Okko</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054102">Разработчик-путешественник</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Яндекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000042872">Android Software Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">AURA Devices</td> 
     <td class="salary">От 100 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053578">System Programming Expert</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Hays Russia</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000052753">Spring framework back-end developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">GXB Development</td> 
     <td class="salary">От 80 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000051400">Программист 1С-Битрикс / Bitrix разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Клондайк</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053923">Стажер в DevOps &amp; Тest Automation</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Росбанк</td> 
     <td class="salary">До 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054103">Руководитель ИТ-проектов</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">СМАРТС</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053674">Backend разработчика (Python / Django)</a></td> 
     <td class="city"></td> 
     <td class="companyName">РеМастер</td> 
     <td class="salary">От 80 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053629">Разработчик Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">СберЛогистика</td> 
     <td class="salary">От 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050089">Системный администратор Linux/DevOps</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Онлайн-кинотеатр ivi</td> 
     <td class="salary">От 140 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053561">Android Middle Developer</a></td> 
     <td class="city">Иваново</td> 
     <td class="companyName">Involta</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053811">Android Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Trust Wallet</td> 
     <td class="salary">От 5 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000051976">Инженер-программист</a></td> 
     <td class="city">Ставрополь</td> 
     <td class="companyName">Энергомера</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000051313">Back End Developer - Удаленная Работа</a></td> 
     <td class="city">Смоленск</td> 
     <td class="companyName">ExpressFromUS.com</td> 
     <td class="salary">От 100 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000051780">Backend-разработчик</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Legalbet</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000051007">Technical Lead - Core Platform (remote)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Whisk</td> 
     <td class="salary">От 7 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053841">Android разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Spice IT Recruitment</td> 
     <td class="salary">От 150 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000052401">Senior Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Digital Horizon</td> 
     <td class="salary">От 200 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000048320">Android разработчик в AR мессенджер с машинным обучением</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Chudo</td> 
     <td class="salary">От 180 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000048936">Middle/Senior Fullstack С# Engineer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Spark Equation</td> 
     <td class="salary">От 120 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053808">Middle/Senior Fullstack Python Engineer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Spark Equation</td> 
     <td class="salary">От 120 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000051664">Пентестер</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Chenii</td> 
     <td class="salary">От 1 500 до 3 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050929">Программист ABAP</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Строительный Двор</td> 
     <td class="salary">От 80 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053597">Системный аналитик</a></td> 
     <td class="city">Омск</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045453">Golang Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">OZON.travel</td> 
     <td class="salary">От 180 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053814">Scala Backend Developer</a></td> 
     <td class="city">Мюнхен</td> 
     <td class="companyName">Mylivn</td> 
     <td class="salary">От 60 000 до 80 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000051662">Web-разрабочик (middle)</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Reverse Systems</td> 
     <td class="salary">От 65 000 до 95 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054015">DevOps Engineer</a></td> 
     <td class="city"></td> 
     <td class="companyName">TR Logic</td> 
     <td class="salary">От 2 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053999">Middle/Senior Backend С# Engineer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Spark Equation</td> 
     <td class="salary">От 120 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046413">Middle Android developer</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">Napoleon it</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053869">Go Developer (Buyer Experience)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">OZON.ru</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053994">Middle/Senior Backend Python Engineer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Spark Equation</td> 
     <td class="salary">От 120 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034150">Бэкенд-разработчик (Ruby on Rails)</a></td> 
     <td class="city"></td> 
     <td class="companyName">FunBox</td> 
     <td class="salary">От 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027966">Бэкенд-разработчик (Ruby on Rails)</a></td> 
     <td class="city">Ульяновск</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054169">Системный администратор Linux</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054092">PHP-разработчик (Laravel)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">AGIMA</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054148">IT рекрутер</a></td> 
     <td class="city"></td> 
     <td class="companyName">ПАО «Ростелеком», Филиал ОЦО</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000049127">Frontend разработчик (Senior)</a></td> 
     <td class="city">Иваново</td> 
     <td class="companyName">ГК "ЦИФРА"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053945">Тестировщик | QA</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">App-Smart</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000052886">Senior Backend Engineer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Uploadcare</td> 
     <td class="salary">От 3 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053930">QA Engineer</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">App-Smart</td> 
     <td class="salary">От 1 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053614">Бэкенд-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054094">PHP-разработчик (1C-Bitrix)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">AGIMA</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054143">QA-инженер «Единого клиента»</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">HFLabs</td> 
     <td class="salary">От 120 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000048942">Frontend разработчик (JS, React, React Native)</a></td> 
     <td class="city"></td> 
     <td class="companyName">InterPals.net</td> 
     <td class="salary">От 80 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053849">Специалист по автоматизированному тестированию ПО</a></td> 
     <td class="city"></td> 
     <td class="companyName">Студворк</td> 
     <td class="salary">От 80 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053840">React Native Developer (Remote) - Galatea</a></td> 
     <td class="city"></td> 
     <td class="companyName">Inkitt</td> 
     <td class="salary">От 150 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054158">Senior Python developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Star-staff</td> 
     <td class="salary">От 150 000 до 400 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000052025">Специалист по автоматизированному тестированию ПО</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">MAG Development</td> 
     <td class="salary">От 60 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000042712">Разработчик Ruby on Rails</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">СофтТелематика</td> 
     <td class="salary">От 100 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000048583">Девопс</a></td> 
     <td class="city"></td> 
     <td class="companyName">CloudFactory</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053613">Бэкенд-разработчик</a></td> 
     <td class="city">Томск</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053557">Бэкенд-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">FunBox</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053027">Senior Automation QA Engineer</a></td> 
     <td class="city">Лондон</td> 
     <td class="companyName">Badoo Development</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053695">IT Recruiter</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000049819">Flutter-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Surf</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046794">Backend разработчик (Python)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Rick.ai</td> 
     <td class="salary">От 120 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053610">Бэкенд-разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053612">Бэкенд-разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034151">Бэкенд-разработчик</a></td> 
     <td class="city">Ульяновск</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053611">Бэкенд-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000049620">Middle Backend developer Python</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">Napoleon it</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000052705">React Native Developer</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">SoftMediaLab</td> 
     <td class="salary">До 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053516">Тестировщик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">СофтТелематика</td> 
     <td class="salary">От 80 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033342">Android Developer (Kotlin)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Константа</td> 
     <td class="salary">От 120 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000052874">QA Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Superjob</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000052706">Ведущий android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Superjob</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054176">Chief Data Officer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">IQ Oрtiоn Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053345">DevOps engineer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">МегаФон</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000052896">Frontend разработчик (React)</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">SoftMediaLab</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000049843">Senior Test Automation Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АВИТО</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053807">Разработчик PHP</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">SoftMediaLab</td> 
     <td class="salary">До 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000052232">Team lead web fullstack</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">RUVOD</td> 
     <td class="salary">От 220 000 до 260 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://dnepr.hh.ua/vacancy/33818450?query=java%20Odessa">Middle Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://dnepr.hh.ua/vacancy/33983068?query=java%20Odessa">Middle+ / Senior Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП АГЕНЦІЯ МОБІЛЬНОЇ РЕКЛАМИ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://dnepr.hh.ua/vacancy/33834485?query=java%20Odessa">Senior / Middle Android Разработчик</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">VicMan</td> 
     <td class="salary">2 000-2 500 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://dnepr.hh.ua/vacancy/33919358?query=java%20Odessa">Middle C++ Developer (GameDev)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Nordcurrent Odessa</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://dnepr.hh.ua/vacancy/33832787?query=java%20Odessa">Middle Web Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО СВИТЕКО</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://dnepr.hh.ua/vacancy/33613243?query=java%20Odessa">Javascript (ES6) Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП Devsteam.mobi</td> 
     <td class="salary">11 200-28 000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://dnepr.hh.ua/vacancy/33818454?query=java%20Odessa">DevOps engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://dnepr.hh.ua/vacancy/33694884?query=java%20Odessa">Senior IT Recruiter</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">EPAM Systems, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>